/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {          /* changed from body in original reset CSS */
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Reset CSS */
/* Begin Site Styles */

/* 18 px base text */
/* 22 px baseline grid */
/* text sizing follows modular scale of golden ratio */

/* Base styles */

html{
  font-size: 1.125em; /* 18 px / 16 px = 1.125 */
  /*120% of 18 = 21.6, round up to 22 */
  line-height: 1.222em; /*22 px / 18 px = 1.222 */
  text-renderinig: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  padding-left: 1.833em; /*33 px / 18 px = 1.833 */
  padding-right: 1.833em; /* = 1.5 line heights for readability on small screens*/
  padding-top: 2.444em; /*44 px / 18 px = 2.444 = 2 line heights */
}
p, ul{
  padding-bottom: 1.222em; /* 1 line height */
}
ul {
  list-style-type: none;
}

h1,h2{
  /* Use the golden ratio (its the ratio for DNA!) as a modular scale: http://www.modularscale.com/?1&em&1.618 */
  font-size: 1.618em; /* 29.124 px / 18 px = 1.618 */
  padding-bottom: 0.755em; /* 22 px / 29.124 px = 0.755 (1 line heights) */
}
h1, h3 {
  font-weight: bold;
}
article{
  /* Add a little extra padding for nicer spatial relationships */
  padding-bottom: 0.611em /* 11 px / 18 px = 0.611 (.5 line height) */
}
i, em, cite{
  font-style: italic;
}
/* Layout styles */

/* Modular styles */
/*nav ul {
  border-bottom: 1px solid black;
}
nav ul:last-child {
  border: none;
}
nav a {
  text-decoration: none;
  display: block;
  min-width: 15vw;
}*/

/* Every project box has a heading and a paragraph description */
.projectbox > h3 {
  padding-bottom: 0.305em /* 5.5 px / 18 px = 0.305 (.25 line height) */
}

/* State styles */

/*TODO:Increase padding for larger screens*/
@media screen and (min-width: 500px) {
  body {
    padding-left: 8.8%; /* 44 px / 500 px = 0.088 */
    padding-right: 8.8%;
  }
}
/* 2-column grid for viewports larger than 830px */
/* projectbox modules need to be evenly spaced */

/* 830 px - 88 px  margins = 742 px padding-corrected content width */
/* 742 px - 33 px gutter = 709 px for two columns */
/* 709 / 2 = 354.5 px width per column*/
/* offset for second column: 354.5px + 33 px = 387.5 px */
@media screen and (min-width: 830px) {
  body {
    padding-left: 5.3%; /* 44 px / 830 px = 0.053 */
    padding-right: 5.3%;
  }
  .projectbox {
    width: 47.776%; /* 354.5 px / 742 px = 0.47776 */
    float: left;
  }
  /*TODO: fix issue where longer projectbox p elements force left floating elements to the right */
  /*Create the second column of projectbox elements */
  .projectbox:nth-of-type(2n){
    float: none;
    margin-left: 52.2237%; /*387.5 px / 742 px = 0.522237 */
  }
  .project-type {
    float: left;
  }
}
